@import url("./navigation-control__link_grey.css");

.navigation-control__link {
    /* background: transparent; */
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}

.navigation-control__link:hover:not(.navigation-control__link_grey) {
    filter: invert(86%) sepia(1%) saturate(11%) hue-rotate(339deg) brightness(94%) contrast(88%);
}