.phone-number {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px solid black; 
    padding-bottom: -5px;
    text-decoration: none;
    color: #000;
}

.phone-number:hover {
    color: rgba(0, 0, 0, 0.5)
}