.search__form {
    box-sizing: border-box;
    border: none;
    border-radius: 0 6px 6px 0;
    width: 430px;
    padding: 13px 20px;
    display: flex;
    background-color: #fff;
}

@media (max-width: 1280px) {
    .search__form {
        width: 100%;
    }
}