.content-section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

@media (max-width: 1280px) {
    .content-section__title {
        font-size: 32px;
        line-height: 37px;
    }
}