@import url("./__button/navigation-control__button.css");
@import url("./__icon/navigation-control__icon.css");
@import url("./__link/navigation-control__link.css");
@import url("./__shop-counter/navigation-control__shop-counter.css");

.navigation-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

@media (max-width: 1280px) {
    .navigation-control {
        margin: 0;
        width: fit-content;
        justify-content: end;
        flex-grow: 1;
    }
}

@media (max-width: 800px) {
    .navigation-control {
        width: 100%;
        justify-content: space-between;
    }
}
